@use "sass:map";

.g-cookie-consent {
	position: fixed;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #606060;
	background: var(--g-color-primary-light, #606060);
	padding: 14px;
	padding: var(--g-general-margin, 16px);
	transition: bottom 0.2s;
	transition: bottom var(--g-general-duration, 0.2s);
	z-index: 999999999;
	box-sizing: border-box;

	&--consented,
	&--no-process,
	&--no-cookies {
		bottom: -300px !important;
	}

	&--not-consented {
		animation-name: showCookieBar;
		animation-duration: 2s;
		animation-fill-mode: forwards;
	}

	@keyframes showCookieBar {
		0% {
			bottom: -300px;
		}
		80% {
			bottom: -300px;
		}
		100% {
			bottom: 0;
		}
	}

	&__text {
		margin: 0;

		&__more-info {
			display: inline-block;

			&:hover,
			&:focus {
				color: #e6e6e6;
				color: var(--g-color-light, #e6e6e6);
			}
		}

		h4 {
			margin-top: 0;
		}

		* {
			color: white;
			color: var(--g-color-white, white);
		}
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 7px;
		margin-top: calc(var(--g-general-margin, 16px) / 2);

		button {
			display: block;
		}
	}

	@media only screen and (min-width: 600px) {
		&__wrapper {
			display: flex;
		}

		&__text {
			margin-right: 14px;
			margin-right: var(--g-general-margin, 16px);
		}

		&__button {
			justify-content: flex-end;
			margin: 0;
		}
	}

	@media only screen and (min-width: 1394px) {
		&__wrapper {
			max-width: 1366px;
		}
	}
}
